body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}


section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
}

article {
    background-color: #f8fdfa;
    border: 1px solid #ffecec;
    flex-basis: calc(50% - 15px);
    margin: 5px;
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin: 0 0 10px;
}

p {
    margin: 0 0 10px;
}

a {
    color: #fab79f;
}


.pagination a {
  margin-right: 10px;
}

tr.male {
  background-color: #cfe7ff;
}

tr.female {
  background-color: #ffeeee;
}

button {
  border: none;
  border-radius: 5px;
  background-color: #ECECEC;
  color: #555;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

 button:hover {
  background-color: #999;
  color: #FFF;
}