{% extends 'base.html' %}
{% block content %}

<div class="about-container">
  <div class="text">
    <h1>Выпускная квалификационная работа</h1>
    <p>Приложение, разработанное в рамках выпускной работы, представляет собой простую вики-сеть для спортсменов бегунов. Главная цель приложения - предоставить удобную платформу для спортсменов, где они могут вести записи о своих результатов соревнований, делиться опытом и находить полезную информацию.
</p>
  </div>
  <div class="image">
      {% load static %}
    <img src="{% static 'image/hse.png' %}" alt="HSE">
  </div>
</div>

{% endblock %}
{% include "footer.html" %}