{% extends "base.html" %}
{% block content %}

<div class="bio">
  <h2><b>{{runner.fname}} {{runner.lname}}</b></h2><br><br>
  {% if runner.birthday %}
  <h4>Birthday: <b>{{runner.birthday}}</b></h4>
  {% endif %}
  {% if runner.city %}
  <h3>City: <b>{{runner.city.name}}</b></h3>
  {% endif %}
  {% if runner.club_name %}
  <h3>Current running club: {{runner.club_name}}</h3>
  {% endif %}
</div>


 {% if user.is_authenticated and user.last_name == runner.lname %}
   <p>User: {{ user.get_username }}</p>
   <p><a href="{% url 'logout'%}">Logout</a></p>
 {% else %}

<div class="results-container">
  <div class="result-table">
    <h1>Best Results</h1>
    <table>
      <thead>
        <tr>
          <th>Distance, km</th>
          <th>Time</th>
        </tr>
      </thead>
      <tbody>
        {% for result in best_results %}
        <tr>
          <td>{{result.dist}}</td>
          <td>{{result.result}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<canvas id="myChart" width="800" height="400"></canvas>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
  const ctx = document.getElementById('myChart').getContext('2d');
  const myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels : [{% for item in labels %}"{{ item }}",{% endfor %}],
          datasets: [{
            label: "Running progress by start",
            data : [{% for item in values %}{{ item }},{% endfor %}],
            backgroundColor: 'rgba(75, 192, 192, 0.2)',
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 1
          }]
      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      }
  });
  </script>

{% endif %}
{% endblock %}
