{% extends "base.html" %}
{% block content %}

<div class="bio">
  <h2><b>{{runner.fname}} {{runner.lname}}</b></h2>
  {% if runner.birthday %}
  <h5><b>{{runner.birthday}}{% if runner.city %}<b>, {{runner.city.name}} {% endif %}</b></b></h5>
  {% endif %}
  {% if runner.club_name %}
  <h5>Current running club: <b>{{runner.club_name}}</b></h5>
  {% endif %}
  <br>
  <br>
  <br>
  <br>
      <canvas id="myChart" width="800" height="400"></canvas>
</div>


 {% if user.is_authenticated and user.last_name == runner.lname %}
   <p>User: {{ user.get_username }}</p>
   <p><a href="{% url 'logout'%}">Logout</a></p>
 {% else %}

<div class="results-container">
  <div class="result-table">
    <h1>Best Results</h1>
    <table>
      <thead>
        <tr class="result-table">
          <th class="result-table">Distance, km</th>
          <th class="result-table">Time</th>
        </tr>
      </thead>
      <tbody>
        {% for result in best_results %}
        <tr class="result-table">
          <td class="result-table">{{result.dist}}</td>
          <td class="result-table">{{result.result}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
  const ctx = document.getElementById('myChart').getContext('2d');
  const myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels : [{% for item in labels %}"{{ item }}",{% endfor %}],
          datasets: [{
            label: "Running progress by start",
            data : [{% for item in values %}{{ item }},{% endfor %}],
            backgroundColor: 'rgba(75, 192, 192, 0.2)',
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 1
          }]
      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      }
  });
  </script>

{% endif %}
{% endblock %}
