<!-- my_table.html -->

{% extends 'base.html' %}
{% block content %}

<form class="search-form">
  <label for="search-input">Search:</label>
  <input type="search" id="search-input" name="q" placeholder="Enter search term">
  <button type="submit">Go</button>
</form>


<!-- Table -->
<table class="table" id="myTable">
  <thead>
    <tr>
      <th>Result date</th>
      <th>Name</th>
      <th>Date of Birth</th>
      <th>Distance</th>
      <th>Result</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
      <tr class="{% if item.runner.gender == 2 %}male{% elif item.gender == 1 %}female {%else%} nd {% endif %}">
        <td>{{ item.added_time }}</td>
        <td>{{ item.fname }}    {{ item.lname }}</td>
        <td>{{ item.runner.birthday }}</td>
        <td>{{ item.race.dist | floatformat:1 }}</td>
        <td>{{ item.time_raw }}</td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="7">No results found.</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

 <div class="pagination">
    {% if items.has_previous %}
        <a href="?q={{ search_term }}&page=1" class="btn btn-sm btn-primary">&laquo; First</a>&nbsp
        <a href="?q={{ search_term }}&page={{ items.previous_page_number }}" class="btn btn-sm btn-primary">&lsaquo; Previous</a>&nbsp
    {% endif %}

    <span class="current-page">
        &nbsp;&nbsp;Page {{ items.number }} of {{ items.paginator.num_pages }}.&nbsp;&nbsp;
    </span>

    {% if items.has_next %}
        <a href="?q={{ search_term }}&page={{ items.next_page_number }}" class="btn btn-sm btn-primary">Next &rsaquo;</a>&nbsp
        <a href="?q={{ search_term }}&page={{ items.paginator.num_pages }}" class="btn btn-sm btn-primary">Last &raquo;</a>&nbsp
    {% endif %}
</div>

{% endblock %}
{% include "footer.html" %}